<form method="POST" action="/signup">
	{{form.csrf_token}}
	<div>{{form.username.label}}:{{form.username()}}</div>
	<div>{{form.password.label}}:{{form.password()}}</div>
	<button type="submit">Submit</button>
	{{userId}}
</form>